<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <style>
      body {
        background-color: #171717;
        color: #d8d8d8;
        font-family: 'Ubuntu', sans-serif;
        padding: 1em;
      }
    </style>
  </head>
  <body>
    <body>
      <section>
        <div>
          <h1>Hello <%= fullName %>! Thank you for your purchase</h1>
          <h3><%= email%></h3>
          <h4><%= address%></h4>
          <h4><%= mobile%></h4>
          <h5>We received your order!</h5>
        </div>
        <div class="row justify-content-center">
          <div class="col-auto">
            <table
              class="table text-center table-responsive mx-auto w-auto table-striped table-dark"
            >
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Description</th>
                <th scope="col">Item Count</th>
                <th scope="col">SubTotal</th>
              </tr>
              <% items.forEach(function(item) { %>
              <tr>
                <td style="text-align: center; vertical-align: middle">
                  <h4><%= item.product.name %></h4>
                </td>
                <td style="text-align: center; vertical-align: middle">
                  <h4><%= item.product.price %></h4>
                </td>
                <td style="text-align: center; vertical-align: middle">
                  <h4><%= item.product.description %></h4>
                </td>
                <td style="text-align: center; vertical-align: middle">
                  <h4><%= item.itemCount %></h4>
                </td>
                <td style="text-align: center; vertical-align: middle">
                  <h4><%= item.subTotal %></h4>
                </td>
              </tr>
              <% }) %>
            </table>
          </div>
        </div>
      </section>
      <section>
        <div>
          <h3>
            Order total:
            <strong style="color: orange"><%= itemsPrice %></strong>
          </h3>
          <h3>
            Shipping: <strong style="color: orange"><%= shippingPrice%></strong>
          </h3>
          <h3>Tax: <strong style="color: orange"><%= taxPrice%></strong></h3>
          <h3>
            Total Purchase Amount:
            <strong style="color: orange"><%= totalPrice%></strong>
          </h3>
        </div>
      </section>
    </body>
  </body>
</html>
